<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maxmaster.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maxmaster.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>maxmaster/api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$maxmaster</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=stagingmaxtranslite.database.windows.net;Initial Catalog=MaxMasterDb;User ID=maxserver;Password=MaxTrans123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MaxMaster.Models.ApplicationDbContext, MaxMaster" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MaxMasterDbEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=stagingmaxtranslite.database.windows.net;Initial Catalog=MaxMasterDb;User ID=maxserver;Password=MaxTrans123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MaxMaster.Models.MaxMasterDbEntities, MaxMaster" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MaxMasterDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MaxMasterDb.csdl|res://*/Models.MaxMasterDb.ssdl|res://*/Models.MaxMasterDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=stagingmaxtranslite.database.windows.net;Initial Catalog=MaxMasterDb;User ID=maxserver;Password=MaxTrans123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=stagingmaxtranslite.database.windows.net;Initial Catalog=MaxMasterDb;User ID=maxserver;Password=MaxTrans123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>